{% extends 'layout.html' %}
{% block content %}
<section>
    <h2>Announcements</h2>
    <hr>

  <section class="border-bottom pb-4 mb-5">
    <div class="row gx-5">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
          <img src="/static/img/attention2.jpeg" class="img-fluid rounded" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">

        <h4><strong>Dear students, teachers and staff of AITU!</strong></h4>
        <p class="text-muted">
          In the capital, the epidemiological situation regarding measles incidence is assessed as unstable. Measles is a highly contagious infectious disease and is transmitted by airborne droplets.
        </p>
        <a href="/attention1" class="btn btn-dark">Read more</a>
      </div>
    </div><hr>

      <h2>IMPORTANT</h2><hr>



        <div class="conteiner">
    <div class="row gx-lg-5">
<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/attention1.jpeg" class="img-fluid rounded" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
      <div class="row mb-3">
            <div class="col-6">
              <a href="/science" class="text-danger">
                 <i class="fas fa-exclamation"></i>
                Announcements
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 14.11.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>ENTRY TO AITU TERRITORY IS ALLOWED TO AITU WORKERS AND STUDENTS ONLY WITH THE USE OF AN ID CARD.</h5>

            <p>Cases were identified of unauthorized persons entering the AITU building under the guise of students and creating conflict situations. In this regard, as well as in accordance with Chapter 13 of the AITU Internal Labor Regulations, entry to the AITU territory is carried out exclusively using an ID card of the established form.
              </p>
          </a>

          <hr />
        </div>
      </div>

      <!-- Second News Block -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/nark.jpeg" class="img-fluid rounded" alt="Football Image" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-exclamation"></i>
                Announcements
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>Criminal liability for drug trafficking begins at the age of 16.</h5>

            <p>
              These are any actions as a result of which a person became the actual owner of drugs: drug production, stashes, purchase, appropriation of what was found, storage (even temporary) or collection of wild drug-containing plants. </p>
          </a>

          <hr />
        </div>
      </div>

      <!-- Third News Block -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/shorts.jpeg" class="img-fluid rounded" alt="Korea Image" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="/events" class="text-danger">
                 <i class="fas fa-exclamation"></i>
                Announcements
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30.10.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>YOU CAN'T COME TO THE UNIVERSITY IN SHORTS, T-shirtS OR SLIPPERS.</h5>

            <p>
              According to paragraph 7.25 of the AITU Internal Regulations, students and employees are required to observe etiquette in choosing and wearing clothes at the university.</p>
          </a>

          <hr />
        </div>
      </div>
      </div>

    </div>
  </section>
{% endblock %}
