{% extends 'layout.html' %}
{% block content %}

<main class="conteiner">
<h3><strong>Student Clubs</strong></h3>
        <p class="text-muted">
          To increase the social activity of students, the university has student interest clubs. Participation in student clubs provides many benefits: the opportunity to make new friends, develop new skills, work in a team, the ability to set and achieve goals, develop creativity, and also have an interesting and fun pastime.
        </p><hr>

<div class="container">
  <div class="row">
    <!-- First line of cards -->
    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/digital.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Digital Creators</h5>
          <p class="card-text">Welcome to the home of AITU designers.</p>
          <a href="https://www.instagram.com/digital_creators_club/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/siam.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">SIAM</h5>
          <p class="card-text">Society of Industrial and Applied Mathematics in AITU.</p>
          <a href="https://www.instagram.com/aitusiamsc/" class="btn btn-primary">Link</a>

        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/tung.jpeg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Tungiyq</h5>
          <p class="card-text">club for the development of the Kazakh language, culture, history.</p>
          <a href="https://www.instagram.com/tungiyq.aitu/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/linux.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Linux Club</h5>
          <p class="card-text">Astana IT University Linux Users Club</p>
          <a href="https://www.instagram.com/linux.klub.aitu/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Second line of cards -->
    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/chess.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Chess Club</h5>
          <p class="card-text">Club oriented on developing chess skills among AITU students</p>
          <a href="https://www.instagram.com/chess.aitu" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/board.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Board Games Club</h5>
          <p class="card-text">We are a board games club at Astana IT University.</p>
          <a href="https://www.instagram.com/aitu_board_games/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/anime.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Anime Club</h5>
          <p class="card-text">The club's goal is to expand understanding of Japanese culture.</p>
          <a href="https://www.instagram.com/aitu_animeclub//" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/mafia.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Mafia Club</h5>
          <p class="card-text">This is a club for fans of the intellectual game "Mafia".</p>
          <a href="https://www.instagram.com/aitu_mafia/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- 3 line of cards -->
    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/aituproduction.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">AITU Production</h5>
          <p class="card-text">Association of diverse and creative university students.</p>
          <a href="https://www.instagram.com/aituproduction/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/futsal.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">Football club </h5>
          <p class="card-text">Opens up new opportunities for university students who want to play football.</p>
          <a href="https://www.instagram.com/aitu_football/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/gaming.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">AITU Gaming</h5>
          <p class="card-text">An eSports club that holds gaming tournaments</p>
          <a href="https://www.instagram.com/aitugaming/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-0" style="width: 18rem;">
        <img src="/static/img/clubs/kca.jpg" class="rounded-circle card-img-top mt-3 mx-auto img-thumbnail" style="width: 150px; height: 150px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title">KCA AITU</h5>
          <p class="card-text">KOREAN CULTURE ASSOCIATION OF AITU.</p>
          <a href="https://www.instagram.com/kca_aitu/" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
