{% extends 'layout.html' %}
{% block content %}

<section class="border-bottom pb-4 mb-5">
  <div class="row gx-5">
    <div class="col-md-6 mb-4">
      <div class="t555__title t-heading t-heading_sm" style="font-size:26px" field="title"><strong>Контакты</strong></div>
      <div class="t-text t-text_md" style="font-size:22px" field="text">
        г. Астана, Мангилик Ел 55/11, Блок С1, Expo<br>
        Контактный номер: <a href="tel:+77172645710" style="">+7 (7172) 645-710</a><br><br></div>
          <div class="t555__title t-heading t-heading_sm" style="font-size:26px" field="title">
            <strong>График работы:<br></strong></div>
      <div class="t-text t-text_md" style="font-size:22px" field="text">Понедельник — Пятница с 9:00 до 18:00<br>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div style="position:relative;overflow:hidden;">
        <a href="https://yandex.ru/maps/org/astana_it_university/102253236506/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;height:400px;">Astana IT University</a>
        <a href="https://yandex.ru/maps/163/astana/category/university/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Астане</a>
        <iframe src="https://yandex.ru/map-widget/v1/?from=api-maps&ll=71.418420%2C51.090801&mode=search&oid=102253236506&ol=biz&origin=jsapi_2_1_79&z=17" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
      </div>
    </div>
  </div>
</section>





{% endblock %}
