{% extends 'layout.html' %}
{% block content %}
<main class="conteiner">
<div class="world-news">
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex position-relative  float-left">
                  <h3 class="section-title">Events</h3>
                </div>
              </div>
            </div><hr>

            <div class="row">
              <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event5.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Korea Corner opened at Astana IT University
                </h5>
                <p class="fs-15 font-weight-normal">
                  On October 30, the opening ceremony of the Korean cultural corner took place at the AITU Scientific Library.
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event6.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Job Fair 2023
                </h5>
                <p class="fs-15 font-weight-normal">
                  On November 9, a job fair will be held in Open Space. 25 international and domestic companies will take part in the fair. We recommend you to bring printed CV with you.
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event7.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Anime Games Tournament
                </h5>
                <p class="fs-15 font-weight-normal">
                  We are pleased to inform you that this Thursday from 13:00 to 16:00 our club will host a tournament for one of the most popular anime games - NARUTO SHIPPUDEN
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event8.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  AITU Halloween party 🎃
                </h5>
                <p class="fs-15 font-weight-normal">
                  From October 23 to November 3, activities dedicated to Halloween were held within the walls of Astana IT University. Students took an active part in every event.
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
            </div><hr>

            <div class="row">
              <div class="col-lg-3 col-sm-6 grid-margin mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event1.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Drone Show and Workshop «You can fly»
                </h5>
                <p class="fs-15 font-weight-normal">
                  On November 23, a drone show and Workshop «You can fly» will be held in the Astana IT University gym.
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event2.png" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Competition «Together Against Corruption!»
                </h5>
                <p class="fs-15 font-weight-normal">
                  The annual International youth competition for social anti-corruption advertising has started🗣
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event3.jpeg" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Open Talk from AITUSA.
                </h5>
                <p class="fs-15 font-weight-normal">
                  This Thursday there will be an Open Talk from us, at which we, represented by the student government.
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
              <div class="col-lg-3 col-sm-6 mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img src="static/img/event4.jpeg" class="img-fluid" alt="world-news">
                </div>
                <h5 class="font-weight-bold mt-3">
                  Screening of short films for Halloween! 🎃
                </h5>
                <p class="fs-15 font-weight-normal">
                  We remind you that in the Assembly Hall there will be a screening of short films for Halloween!
                </p>
                <button type="button" class="btn btn-dark">Read more</button>
              </div>
            </div>
          </div><hr>


    </main>
{% endblock %}