{% extends 'layout.html' %}
{% block content %}
<main class="container">

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-image" style="background-image: url('/static/img/aitumain.jpeg');height: 300px;">
    <div class="col-lg-6 shadow">
        <h1 class="display-5 fw-bold lh-1 mb-3 text-white">Discover the latest news from the Astana It Uiversity...</h1>
        <p class="lead text-white">...and stories from the AITU community</p>
      </div>
  </div><hr>

  <section class="border-bottom pb-4 mb-5">
    <div class="row gx-5">
      <div class="col-md-6 mb-4">
        <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
          <img src="/static/img/python.png" class="img-fluid rounded" />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
        <h4><strong>Today students take the final project in Advanced Programming.</strong></h4>
        <p class="text-muted">
          The anticipation is palpable as students in the Advanced Programming course gear up for the culmination of their semester-long journey – the final project presentations. Today marks a significant milestone for these budding programmers, who have dedicated countless hours to mastering complex coding languages, algorithms, and software development techniques.
        </p>
        <a href="/today" class="btn btn-dark">Read more</a>
      </div>
    </div>
  </section>



  <!--Section: Content-->
  <section>
    <h2>Latest News</h2><hr>
    <div class="row gx-lg-5">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4"
            data-mdb-ripple-color="light">
            <img src="/static/img/news1.jpeg" class="img-fluid rounded" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="/science" class="text-info">
                <i class="fas fa-microscope"></i>
                Science
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 14.11.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>AITU STUDENTS BECAME PRIZES OF THE INTELLECTUAL COMPETITION “STUDQUIZ”</h5>

            <p>
              On November 14, the Zhastar Rukhy MK under the Amanat party held a republican intellectual competition “StudQuiz”, dedicated to International Students’ Day.
            </p>
          </a>

          <hr />


          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="/static/img/10november.jpeg"
                  class="img-fluid shadow-1-strong rounded" alt="Palm Springs Road" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>10 November - </strong></p>
                <p>
                  <u> 07.11.2023</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Los Angeles Skyscrapers" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Skyscrapers" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="/static/img/football.jpeg" class="img-fluid rounded"
              alt="Brooklyn Bridge" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-football-ball"></i>
                Sport
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 11.11.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>AITU STUDENT IS THE BEST PLAYER OF THE ULEAGUE TOURNAMENT!</h5>

            <p>
              As everyone knows, the AITU futsal team made it to the final stage of the University Futsal League among higher educational institutions of the Republic of Kazakhstan.
            </p>
          </a>

          <hr />

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/031.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Five Lands National Park" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>


          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/033.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Louvre" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/034.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Times Square" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong rounded-5 ripple mb-4"
            data-mdb-ripple-color="light">
            <img src="/static/img/korea.jpeg" class="img-fluid rounded"
              alt="Golden Gate National Recreation Area" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="/events" class="text-warning">
                <i class="fas fa-calendar"></i>
                Events
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30.10.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>KOREA CORNER OPENED AT AITU</h5>

            <p>
              On October 30, the opening ceremony of Korea Corner was held at the AITU Scientific Library. The ceremony was attended by students, university teachers and representatives of the Embassy of the Republic of Korea in Kazakhstan.
            </p>
          </a>

          <hr />

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/011.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Brooklyn Bridge" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>


          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/013.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Perdana Botanical Garden Kuala Lumpur" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>

          <!-- News -->
          <a href="" class="text-dark">
            <div class="row mb-4 border-bottom pb-2">
              <div class="col-3">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/014.webp"
                  class="img-fluid shadow-1-strong rounded" alt="Perdana Botanical Garden" />
              </div>

              <div class="col-9">
                <p class="mb-2"><strong>Lorem ipsum dolor sit amet</strong></p>
                <p>
                  <u> 15.07.2020</u>
                </p>
              </div>
            </div>
          </a>
        </div>
        <!-- News block -->
      </div>
    </div>
  </section>
</main>
{% endblock %}
