{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="card-group vgr-cards">
      <div class="card">
        <div class="card-img-body">
        <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/She_Codes_Hackathon_2015_%40Facebook_%2814%29.JPG/480px-She_Codes_Hackathon_2015_%40Facebook_%2814%29.JPG" alt="Card image cap">
        </div>
        <div class="card-body">
          <h4 class="card-title">She Code 2.0</h4>
          <p class="card-text">SheCodes 2.0 is a weekly online hackathon for girls, where participants solve a case from a partner company.Girls from 18 to 30 years old can take part in the hackathon, individually or in teams. Delegates can participate from any city.The project will be held on November 18-26:
            November 18 – opening of the hackathon
            November 19-25 – solving cases
            November 26 – presentation of solutions and closing of the hackathon
            
            The deadline for submitting applications is 23:59, November 17!</p>
          <a href="https://astanahub.com/ru/event/khakaton-dlia-devushek-shecodes/" class="btn btn-outline-dark">Click here</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="https://iadsb.tmgrup.com.tr/1af3ed/0/0/0/0/1816/1208?u=https://idsb.tmgrup.com.tr/2017/05/14/future-of-smart-cities-to-be-discussed-at-world-cities-expo-istanbul-1494785970720.jpg" alt="Card image cap"></div>
        <div class="card-body">
          <h4 class="card-title">Smart City Day</h4>
          <p class="card-text">Don't miss the opportunity to launch a pilot and contribute to the development of your favorite city!

            Date of the event: 13.12.2023
            Format: offline
           
            Requirements:
           — Project stage: MVP and above
            — Attach a presentation with a solution by selecting one or more technological tasks
            — Age: 16 years and older
           
            Select one or more of the proposed tasks and present its solution in the form of a presentation, limited to 5 slides.</p>
          <a href="https://forms.amocrm.ru/rvdrtlv/" class="btn btn-outline-dark">Click here</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="https://azattyq-ruhy.kz/cache/imagine/main_page_full/uploads/news/2023/05/26/647059a540d26579699430.png" alt="Card image cap"></div>
        <div class="card-body">
          <h4 class="card-title">Amanat Tech</h4>
          <p class="card-text">Amanat Tech is the first hackathon aimed at combating drug addiction in Kazakhstan and popularizing information and communication technologies among young people. 

            We invite you to take part in the Amanat Tech hackathon, which will be held on November 27-28, as mentors to work with participating teams. 
           
            Format:
           - 1 mentor - 3 teams
           - Two meetings with each team for 20-30 minutes
           - 1 on 1, individually with the team 
           - Each mentor will receive a letter of thanks from Astana Hub and the Amanat party 
           
           Place: Astana IT University 
           Date: November 27-28
           Time: from 11:00</p>
          <a href="https://astanahub.com/kk/l/amanatech2023" class="btn btn-outline-dark">Click here</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="https://static.wixstatic.com/media/c3ce70_26400a2e6712417fb46358397e709dff~mv2.png/v1/fill/w_767,h_370,al_c,lg_1,q_85/c3ce70_26400a2e6712417fb46358397e709dff~mv2.png" alt="Card image cap"></div>
        <div class="card-body">
          <h4 class="card-title">IT FEST</h4>
          <p class="card-text">This is a series of events where participants are given the opportunity to implement their ideas in practice. This is an opportunity to implement a project in a short time in a powerful creative environment, assemble a team and join an interesting project. The fest will pass. November 27-28 in Astana</p>
          <a href="https://www.научим.online/it-fest-2022/" class="btn btn-outline-dark">Click here</a>
        </div>
      </div>
      <div class="card">
        <div class="card-img-body">
          <img class="card-img" src="https://media-1obl-ru.storage.yandexcloud.net/resize_cache/1203631/2baac0da1203ffb37f27258b9b5c0da5/iblock/aef/aef298f7ec2de668488aae35057a2cca/7a61fc41e7258ab6a4b6910d4f40d6f4.jpg" alt="Card image cap"></div>
        <div class="card-body">
          <h4 class="card-title">Think Tank Thrive - Ideathon in Industry Quandaries'23</h4>
          <p class="card-text">Organizers: AITU, Woxsen University (India), Almaty Management University.

            Ideathon aims to generate creative ideas, identify opportunities, and encourage students to network and connect with mentors and industry leaders.
            
            Internal selection will be conducted by AITU and 10 teams will be selected for the main contest with 3 universities. Students may suggest own ideas in indicated fields. Team: max 4 students
            
            Format: virtual (online)
            Event date: 29-30 November</p>
          <a href="https://ideathon.aircwou.in/" class="btn btn-outline-dark">Click here</a>
        </div>
      </div>
    </div>
  </div>
    
{% endblock %}