{% extends 'layout.html' %}
{% block content %}
<section>
    <h2>Sport</h2>
  <p class="text-muted">Physical education and the formation of a healthy lifestyle of students at Astana IT University are considered as an essential part of the education and training process. We support students in their interest in an active lifestyle by providing opportunities for doing sports, and for participation in sports competitions and events at various levels.</p>
    <hr>

  <div class="container">
    <div class="row">
      <div class="col-md-4 horizontal-card">
        <img src="/static/img/footballfc.jpg" alt="Photo 1" class="img-fluid">
      </div>

      <div class="col-md-4 horizontal-card">
        <img src="/static/img/sport1.jpeg" alt="Photo 2" class="img-fluid">
      </div>

      <div class="col-md-4 horizontal-card">
        <img src="/static/img/basket.jpeg" alt="Photo 3" class="img-fluid">
      </div>
    </div>
  </div><br><hr>

  <div class="conteiner">
    <div class="row gx-lg-5">

      <!-- First News Block -->
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/volleyball.jpeg" class="img-fluid rounded" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="/science" class="text-danger">
                 <i class="fas fa-football-ball"></i>
                Sport
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 14.11.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>⛳️ SPARTAKIAD AMONG PTS AND AITU EMPLOYEES STARTED</h5>

            <p>
              📌 On November 15, the 1st Spartakiad among the teaching staff and employees of AITU. 6 teams compete in the following sports: volleyball, futsal, table tennis, chess and eSports </p>
          </a>

          <hr />
        </div>
      </div>

      <!-- Second News Block -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/football.jpeg" class="img-fluid rounded" alt="Football Image" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-danger">
                <i class="fas fa-football-ball"></i>
                Sport
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>AITU team in the final stage of ULeague</h5>

            <p>
              From October 1 to November 12, the regional qualifying stage of the Republic of Kazakhstan Futsal Championship among universities was held in Astana. </p>
          </a>

          <hr />
        </div>
      </div>

      <!-- Third News Block -->
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="/static/img/hockey.jpeg" class="img-fluid rounded" alt="Korea Image" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>

          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="/events" class="text-danger">
                 <i class="fas fa-football-ball"></i>
                Sport
              </a>
            </div>

            <div class="col-6 text-end">
              <u> 30.10.2023</u>
            </div>
          </div>

          <!-- Article title and description -->
          <a href="" class="text-dark">
            <h5>⚽MATCH DAY:</h5><h5>
 BARYS -  RED STAR KL</h5>

            <p>
              There are free tickets for today's KHL match between HC Barys and HC KunLun.</p>

            <p>🗓️ Start: 19.30</p>
<p>🏟️ Place: Barys Arena </p>
          </a>

          <hr />
        </div>
      </div>
      </div>

    </div>
  </section>
{% endblock %}
